# Project
[Bb]uild/

# Resources
[Rr]es/[Rr]aw[Rr]es/
![Rr]es/icon.ico
![Rr]es/readme.txt
[Rr]es/*.wav

# Misc
misc/pathto_vcvarsall.txt

# Visual Studio
.vs/
src/x64/
src/Debug/
src/Release/
src/*.sln
src/*.vcxproj
src/*.filters
src/*.user